.c-publication__header {
    display: flex;
    align-items: center;

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    div {
        margin: 0 16px;
        flex: 1;

        strong {
            font-size: 20px;
            align-items: center;
        }

        p {
            font-size: 18px;
            color: #a8a8b3;
            margin-top: 4px;
        }
    }
}
